body, html{
    background-color: rgb(77, 207, 166);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box{
    background-color: white;
    padding: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    width: 300px;
    height: 275px;
    box-shadow: 10px 10px rgb(73, 184, 148);
}
#btnLogin{
    background-color: rgb(77, 207, 166);
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-size: 7px;
    padding: 7px;
    font-weight: bold;
}
label{
    font-size: 7px;
    color: rgb(184, 182, 182);
    margin: 20px 0px 7px;
}
h1{
    margin-bottom: 5px;
    font-weight: bold;
}
h3{
    color: rgb(184, 182, 182);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
}
p{
    font-size: 7px;
    color: rgb(184, 182, 182);
    text-align: center;
}

.input-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputEmail, .inputPass{
    display: flex;
    align-items: center;
}

i{
    background-color: rgb(77, 207, 166);
    color: white;
    padding: 7px;
}

input[type=text]{
    border: none;
    background-color: rgb(227, 232, 234);
    padding: 5.3px;
    width: 100%;
}

a{
    color:rgb(184, 182, 182);
}

